{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 50px); /* inaltimea containerului */

        }

        #account {
            background-color: #0ca35d;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;

        }

        .form-floating {
            margin-bottom: 15px;
        }

        /*  buton de conectare */
        #login-submit {
            background-color: #0c5a37;
            border: none;
            width: 100%;
        }

        /* Hover pentru buton de conectare */
        #login-submit:hover {
            background-color: #65b590;
            color: #fff;
        }

        /*  titlu */
        .form-container h1 {
            color: #fff;
        }

        /* Stilizare pentru input si label pentru a ascunde label-ul cand input-ul este focusat */
        .form-floating input:focus ~ label,
        .form-floating input:not(:placeholder-shown) ~ label {
            opacity: 0;
        }
    </style>
    <div class="form-container">
        <div id="account">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in!</h1>
                <div class="form-floating">
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control"
                           autocomplete="email" required autofocus placeholder="Email">
                    <label for="username">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="_password" id="password" class="form-control"
                           autocomplete="current-password" required placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
                {# See https://symfony.com/doc/current/security/remember_me.html #}

                {# <div class="checkbox mb-3"> #}
                {#     <input type="checkbox" name="_remember_me" id="_remember_me"> #}
                {#     <label for="_remember_me">Remember me</label> #}
                {# </div> #}

                <button class="btn btn-lg btn-primary" id="login-submit" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}
