{% extends 'base.html.twig' %}

{% block title %}Create Exercise!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title">Create Exercise!</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="form-floating mb-3">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Exercise Name'}}) }}
                        {{ form_label(form.name, 'Exercise Name', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form_widget(form.muscleGroup, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.muscleGroup, 'Muscle Group', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_errors(form.muscleGroup) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


