{% extends 'base.html.twig' %}

{% block title %}Create Workout{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-white">
                        <h5 class="card-title">Create Workout</h5>
                    </div>
                    <div class="card-body" style="background-color: #343a40; color: #fff;">
                        {{ form_start(form) }}

                        <ul class="list-unstyled exerciseLogs"
                            data-index="{{ form.exerciseLogs|length > 0 ? form.exerciseLogs|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.exerciseLogs.vars.prototype)|e('html_attr') }}"
                        >
                            {% for exerciseLog in form.exerciseLogs %}
                                <li>{{ form_row(exerciseLog) }}</li>
                            {% endfor %}
                        </ul>

                        <button type="button" class="btn btn-success mb-3 add_item_link" data-collection-holder-class="exerciseLogs">Add an exercise log</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .card {

            background-color: #22272d;
            border: 1px solid rgba(0, 0, 0, 0.125);
            color: #fff; /* Text alb */
        }
        .card-header {
            background-color: rgb(25, 135, 84);
            color: #fff; /* Alb */
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
        .card-body {
            background-color: #22272d !important;
        }
        .form-label {
            color: #fff;
        }
        .form-control {
            background-color: #22272d ;
            color: #fff;
            border-color: #6c757d;
        }

        .btn-success {
            background-color: #1c6142;
            border-color: #145135;
        }
        .btn-success:hover {
            background-color: #469873;
            border-color: #305c48;
        }
    </style>

    <script>
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection);
            });

        function addFormToCollection(e) {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);
            collectionHolder.dataset.index++;

            // add remove button
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Remove this Exercise Log';
            removeFormButton.classList.add('btn', 'btn-danger', 'mt-2');

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the exerciseLog form
                item.remove();
            });

            item.appendChild(removeFormButton);
        }
    </script>
{% endblock %}
